<%= form_for [current_user, @task] do |f| %>
  <div> 
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Describe your task" %>
  </div>

  <div>
    <%= f.label :deadline %>
    <%= f.date_select :deadline, start_year: Time.now.year, default: 1.month.from_now, with_css_classes:true %>
  </div>

  <div> 
    <%= f.label :notify_in_days_before_deadline %>
    <%= f.number_field :notify_in_days_before_deadline, min: 1 %>
  </div>
  <div>
    <%= f.submit "Create task", class:"btn btn-primary"  %>
  </div>
<% end %>