<%= form_for conversation do |f| %>
  <div>
    <%= f.label :theme %>
    <%= f.text_field :theme %>
  </div>
  
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div>
    <%= f.label :invitations, 'Add members' %>
    <%= f.text_field :invitations, class:'invitation-tag', data: { role: "tagsinput" } %>
  </div>

  <div>
    <%= f.submit 'Create!' %>
  </div>
<% end %>


